- content_for(:html_title) { "Home" }

- content_for(:sidebar) do
  %ul.list-unstyled
    - if user_signed_in?
      %li= link_to 'Rulesets', rulesets_path
    %li= link_to 'Competitions', competitions_path
    %li= link_to 'Players', players_path
    - if user_signed_in? && !current_user.player.nil?
      %li= link_to 'My Player', player_path(current_user.player)
      %li= link_to 'Vessel Hangar', player_vessels_path(current_user.player)
    - else
      %li= link_to 'Register', '/register'

%section
  %h1 Runway Project
  %h2 Helpful Links
  .list-group
    = link_to "Discord", "https://discord.gg/mHF4mmY", class: "list-group-item"
    = link_to "Scott Manley on Twitch", "https://twitch.tv/szyzyg", class: "list-group-item"
    = link_to "YouTube", "https://www.youtube.com/channel/UCxzC4EngIsMrPmbm6Nxvb-A", class: "list-group-item"
    = link_to "Season 3 Introduction and Rules", "https://docs.google.com/document/d/1SsWF1RIg_sl1mRW_aNWpQaAyZCnb0oZ2uDHIjZEIpMk/edit?usp=sharing", class: "list-group-item"
  %h2 Recent news
  %ul.list-group
    %li.list-group-item
      %span.badge 17 Feb. 2021
      Runway Project Season 3 Announced!
    %li.list-grou-item
      %span.badge 16 Feb. 2021
      Implemented new API.
