<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Scott Manley's free-for-all BD Armory KSP competition." />
    <link rel="canonical" href="https://runwayproject.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Scott Manley's Runway Project - Season 3" />
    <meta property="og:description" content="Scott Manley's free-for-all BD Armory KSP competition." />
    <meta property="og:url" content="https://runwayproject.herokuapp.com" />
    <meta property="og:site_name" content="Runway Project API" />
    <title>Runway Project &dash; <%= content_for?(:html_title) ? yield(:html_title) : "" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
   <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-TTB13GHB62"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XXXXXXXXX');
    </script> -->
    <!-- Replace this tag with a new one. -->
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <div class="sidebar">
      <header>Runway Project API</header>
      <nav><%= yield(:nav) %></nav>
      <%= yield(:sidebar) %>
    </div>
  </body>
</html>
